html,
body {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#scene-3d {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#options-bar{
    position: absolute;
    height: 5rem;
    width: 5rem;
    inset-inline-end: 1rem;
    inset-block-start: 11rem;
}